# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
uploads/
*.db
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
